
@{
    ViewBag.Title = "Index";
}
<div class="card">
    <div class="">
        <h3 class="card-header">Reporte de pedido por rango de fechas</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <label class="col-form-label">Fecha inicial:</label>
                <input type="date" id="dateIni" class="form-control" />
            </div>
            <div class="col-3">
                <label class="col-form-label">Fecha final:</label>
                <input type="date" id="dateFin" class="form-control" />
            </div>
        </div>
    </div>
    <div class="input-group mb-2">
        <div class="mx-3">
            <input type="button" id="btnIncrustar" value="Generar Reporte" class="btn btn-primary" />
        </div>
        <div class="">
            <input type="button" id="btnDescargar" value="Descargar" class="btn btn-outline-primary" />
        </div>
    </div>
</div>
<iframe id="reportParam" style="width:100%; height:600px" frameborder="0" scrolling="yes">
</iframe>
<hr />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var fechaI = $("#dateIni");
            var fechaF = $("#dateFin");
            //Boton incrustar reporte
            $("#btnIncrustar").click(function () {
                if (fechaI.val() == "" && fechaF.val() == "") {
                    Swal.fire(
                        'Advertencia',
                        'Debe seleccionar una fecha',
                        'warning'
                    )
                } else {
                    var itemI = fechaI.val();
                    var itemF = fechaF.val();
                    var url = "@Url.Action("ReporteFechas","Pedidos")?fechaIni=" + itemI + "&fechaFin=" + itemF;
                    $("#reportParam").attr("src", url).load();
                }
            });

            //Boton descargar reporte
            $("#btnDescargar").click(function () {
                if (fechaI.val() == "" && fechaF.val() == "") {
                    Swal.fire(
                        'Advertencia',
                        'Debe seleccionar una fecha',
                        'warning'
                    )
                } else {
                    var itemI = fechaI.val();
                    var itemF = fechaF.val();
                    var url = "@Url.Action("ReporteFechas","Pedidos")?fechaIni=" + itemI + "&fechaFin=" + itemF;
                    window.open(url);
                }
            });
        });
    </script>
}